* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/* Globale & utility class */
.center {
    text-align: center;
}

a {
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    max-width: 1440px;
    margin: auto;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

/* Photographers Wrapper */
.photographers-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    margin: auto;
    margin-top: 100px;
    max-width: 1440px;    
}

.photographers-wrapper article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer-card-wrapper p {
    margin: 0;
}

.name {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 0;
}

.location {
    font-size: 15px;
    color: #901C1C;
}

.tagline{
    font-size: 12px;
}

.price {
    font-size: 12px;
    color: #525252;
}

/* Photographer Card */
.photographer img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    box-shadow: 4px 5px 5px #333;
}

